<!-- News -->
<section>
	<div class="container">

		<header class="text-center margin-bottom-60 clearfix">
			<h2 class="weight-300 nomargin-bottom">Recent News</h2>
		</header>

		<!-- 
			controlls-over		= navigation buttons over the image 
			buttons-autohide 	= navigation buttons visible on mouse hover only
			
			data-plugin-options:
				"singleItem": true
				"autoPlay": true (or ms. eg: 4000)
				"navigation": true
				"pagination": true
				"items": "4"

			owl-carousel item paddings
				.owl-padding-0
				.owl-padding-3
				.owl-padding-6
				.owl-padding-10
				.owl-padding-15
				.owl-padding-20
		-->
		<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 3000, "navigation": true, "pagination": false}'>
		{% for publication in publications %}
		    <div class="img-hover">
				<a href="{{publication.link}}">
					<img class="img-responsive" src="{{asset(publication.image)}}" alt="">
				</a>

				<h4 class="text-left margin-top-20"><a href="blog-single-default.html">{{publication.user}} <i class="icon-angle-right"></i> {{publication.title}}</a></h4>
				<p class="text-left">{{publication.content}}</p>
				<ul class="text-left size-12 list-inline list-separator">
					<li>
						<i class="fa fa-calendar"></i> 
						{{"now"|date('d M Y')}}
					</li>
					<li>
						<a href="blog-single-default.html#comments">
							<i class="fa fa-comments"></i> 
							3
						</a>
					</li>
				</ul>
			</div>
		{% endfor %}
		</div>

	</div>
</section>
<!-- /News -->